################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/REngine
/.vs
/obj
/bin
/REngineTests/bin
/REngineTests/obj
