################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/REngine
/.vs
/obj/Release/net8.0
/REngineTests/bin/Release/net8.0
/REngineTests/obj/Release/net8.0
